*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --text-color-relleno: rgb(236, 231, 231);
    --text-color-titulo: #f5f5f5;
    --text-color-texto: #faf8f8;
}
#porta{
    background-image: url(../img/iconPORTA.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: transicion 1s;
}
.fondo{
    text-align: center;
}
.relleno-1{
    color: var(--text-color-relleno);
    position: absolute;
    top: 45%;
    left: 66%;
    font-size: 30px;
    padding: 5px;
    border-radius: 50px;
    animation-name: colores;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.relleno-2{
    color: var(--text-color-relleno);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    padding: 5px;
    border-radius: 50px;
    animation-name: colores;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.astro{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-banner-trazo-pincel-rojo-negro-perfecto-canva_1361-3597.jpg?w=1060&t=st=1692823604~exp=1692824204~hmac=009fe86a2ffa316e0483ad723fce133be63bfad9a39c17a82df7f5bcadcd0e76");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.smtitulo{
    color: var(--text-color-titulo);
    font-size: 50px;
    text-decoration: underline;
}
.smtexto{
    color: var(--text-color-texto);
    font-size: 37px;
}
.fondo-blog{
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    padding: 0px 15px 50px 15px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.bsubtitulo{
    color: var(--text-color-titulo);
    padding: 10px;
    font-size: 25px;
    text-decoration: underline;
}
.btexto{
    color: var(--text-color-texto);
    padding: 10px;
    font-size: 20px;
}
footer{
    background-color: #222;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
@keyframes colores{
    0%{
        background: dimgray;
    }
    100%{
        background: black;
    }
}
@keyframes transicion{
    from{
        opacity: 0;
        transform: rotateY(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateY(0);
    }
}
