*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: #efefef;
}
header{
    background-color: #868686;
    color: white;
    padding: 5px;
}
#titulo{
    font-size: 30px;
    text-align: center;
}
section{
    background-image: url('iconPORTA.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}